/* Base styles */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 1em;
	line-height: 1.7;
	text-align: center;
	max-width: 100%;
}

main {
	padding: .30em;
}

p {
	font-size: 1em;
	text-align: center;
	margin-bottom: 1.5em;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 100%;
}

a:hover {
	color: blue;
}

.bottom {
	background-color: aliceblue;
	
}

.contact-bottom {
	margin-bottom: -25px;
	padding-right: 40px;
	padding-left: 40px;
	text-align: center;
}

.skills {
	text-align: center;
	margin-bottom: 1em;
}

.contact {
	margin-top: 1.5em;
}

.footer-name {
	padding: 0;
	margin: 0 auto;
	float: left;
	font-size: larger;
	margin-left: 2em;
}

.footer-nav li {
	display: none;
}

.main-nav li {
	list-style: none;
	margin-top: 4px;
	margin-bottom: 6px;
	padding: 10px;
	padding-left: 0;
}


.main-header {
	text-align: center;
	width: 100%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin-bottom: 25px;
	background-color: aliceblue ;
}

.name,
.main-nav a {
	padding: 10px 10px;
	text-align: center;
	display: block;
}


.main-nav {
	padding: 0;
}

.container {
	width: 70%;
	margin: auto;
}

.profile-pic {
	text-align: center;
	margin-top: 6px;
	margin-bottom: 6px;
}

.header-p {
	width: auto;
	margin: auto;
}

.tagline {
	text-align: center;
	padding-top: 12px;
	padding-bottom: 20px;
	padding-left: 0;
	margin-bottom: 25px;
	font-family: sans-serif;
	font-size: 19px;
	font-weight: 500;
}

.images {
	max-width: 1150px;
	width: 100px;
	width: 100%;
	margin-bottom: 25px;
}

.col p {
	margin-top: 5px;
}

.footer-nav ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.footer-name,
.footer-nav a {
	padding: 10px 15px;
	text-align: center;
	display: block;
	
}

.footer-nav a {
	font-size: 1em;
	font-weight: 400;
}

.main-header,
.main-footer {
	text-align: center;
	padding-top: .5em;
	padding-bottom: .5em;
	margin-bottom: 30px;
}

.main-footer {
	border-top: solid 1px black;
	padding-top: 30px;
}

.back {
	display: none;
}


@media (min-width: 320px) and (max-width: 767px) {
	.main-nav a {
		background-color: white;
		max-width: 80%;
		margin-top: 0;
		margin-bottom: 0;
		margin: auto;
	}
	
	.profile-pic,
	.tagline {
		max-width: 70%;
		margin: auto;
	}
	
	
	
}


@media (min-width: 768px) {
	main-header {
		max-height: 5em;
	}
	
	.container {
		width: 90%;
		max-width: 1150px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.name {
		font-size: 1.30em;
	}
	
	.tagline {
		text-align: left;
		width: 50%;
		margin: 10px 15px 25px 25px;
		padding: 15px;
		
	}
	
	.main-nav li {
		display: inline-block;
		margin-left: 20px;
	}
	
	.main-nav a {
		font-size: 1em
	}
	
	.col {
		float: left;
		padding: 4px;
		margin: auto;
		width: 50%;
	}
	
	.profile-pic {
		width: 300px;
		float: right;
		margin-top: 5px;
		margin-right: 25px;
		margin-left: 25px;
		padding: 10px;
	}
	
	.container {
		margin: auto;
	}
	
	

	
	.footer-name {
		float: left;
		width: 25%;
		padding: 0;
		padding-top: 15px;
		margin-left: 20px;
	}
	
	.footer-nav {
		float: right;
	}
	
	.footer-nav li {
		float: left;
		margin-left: 12px;
		display: initial;
		padding: 3px;
		font-size: medium;
	}
	
	.footer-name, 
	.footer-nav,
	.footer-nav li {
		display: inline-block;
		text-align: center;
		margin-bottom: 6px;
	}
	
	.clearfix::after {
    content: "";
    display: table;
    clear: both;
    
  }
	
	.main-footer {
		padding-top: 20px;
	}
}

@media (min-width: 1024px) {
	
	.container {
		width: 80%;
		max-width: 1150px;
		margin: auto;
	}
	

	
	.name {
		float: left;
		font-size: 1.25em;
		padding: 0;
		margin-left: 9em;
		margin-top: 1.8em;
	}
	
	.main-nav {
		float: right;
		margin-right: 10em;
	}
	
	
	
	.search,
	.travel,
	.marketing {
		width: 33%;
	}
	
	.maps,
	.photo-gallery,
	.calculator {
		width: 33%;
	}
	
	.footer-name {
		float: left;
		padding: 0;
		margin-left: 20px;
	}
	
	.main-footer {
		padding: 0;
		padding-top: 30px;
	}
	
	.footer-nav {
		margin: 0;
		padding: 0;
		height: auto;
	}
	
	.nav {
		padding: 0;
		margin: 0;
	}
	
	.footer-nav li {
		padding: 0;
		margin: 0;
		font-size: 1em;
	}
	
	.footer-nav {
		padding: 30px;
		margin: -40px 20px;
	}
	
}































/*
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	margin: auto;
}

footer {
	text-align: center;
}

p{
	font-size: .95em;
	margin-bottom: 1.5em;
}

h2 {
	font-weight: normal;
	padding-bottom: 60px;
	
}

h3 {
	max-width: 100%;
}

h3,
p {
	max-width: 60%;
	text-align: center;
	margin-left: 90px;
}

a {
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

ul {
	list-style: none;
}
*/

/* Base layout styles */
/*

.main-header {
	background: #EAEAEA;
	padding-bottom: 30px;
}

.name {
	font-size: 2em;
}

.header-p {
	max-width: 40%;
	margin-left: 2em;
}

.name,
.main-nav li {
	text-align: center;
	margin-top: 6px;
	
}

.name,
.main-nav a {
	padding: 10px 15px;
	display: block;
}

@media (min-width: 768px) {
	
	.name {
		float: left;
		margin-bottom: 1em;
		padding-left: 27px;
}
	
	.main-nav {
		float: right;
		margin-bottom: auto;
	}
	
	.main-nav li {
		float: left;
		margin-left: 12px;
		padding-right: 30px;
	}
	
	
	.profile-pic {
		float: right;
		margin-top: 3em;
		padding-right: 3em;
		position: relative;
		top: -17em;
	
	}
	
	.header {
		text-align: left;
	}
	
	.clearfix::after {
    content: "";
    display: table;
    clear: both;
    
  }
	
	.images {
		width: 250px;
		height: 150px;
		text-align: center;
	}
	
	.col {
		text-align: center;
		max-width: 50%;
	}
	
	.marketing,
	.travel {
		width: 30%;
		float: left;
	}
	
	.search {
		width: 40%;
		float: left;
	}
	
	.maps,
	.calculator {
		width: 30%;
		float: left;
	}
	
	.photo-gallery {
		width: 40%;
		float: left;
	}


	
	.container {
		margin-top: 19em;
		text-align: center;
		max-width: 1150px;
	}

}
*/











